{% extends 'base.html' %}
{% load static %}
{% block content%}
    <!-- ======= Hero Section ======= -->
         {% include 'hero.html' %}
    <!-- End Hero -->

    <!-- ======= Portfolio Section ======= -->
         {% include 'portifolio.html' %}
    <!-- End Portfolio Section -->

    <!-- ======= Facts Section ======= -->
         {% include 'promocoes.html' %}
    <!-- End Facts Section -->

    <!-- ======= About Section ======= -->
         {% include 'about.html' %}
    <!-- End About Section -->


    <!-- ======= Skills Section ======= -->
         <!--{% include 'skills.html' %} -->
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
        <!-- {% include 'resume.html' %} -->
    <!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
         {% include 'services.html' %}
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->

    <!-- End Testimonials Section -->
        {% include 'testimonials.html' %}
    <!-- ======= Contact Section ======= -->

    <!-- End Contact Section -->
         {% include 'contact.html' %}
    <!-- ======= Footer ======= -->
         {% include 'footer.html' %}
    <!-- End  Footer -->

{% endblock %}